@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9f9f9;
  --foreground: #f9f9f9;
}

body {
  color: #717171;
  background: var(--background);
  font-family: var(--font-mono);
  padding: 0;
  margin: 0;

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #f9f9f9;
  }
}
