@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #f9f9f9;
  --foreground: #f9f9f9;
}

body {
  color: #717171;
  background: var(--background);
  font-family: var(--font-mono);
  padding: 0;
  margin: 0;
}
